
out/

\.idea/

build/

Enssat2\.iml
/.idea/workspace.xml
/.settings/
/.classpath
/.project

lib/
/mysql-connector-java-8.0.15.jar
/protobuf-java-3.6.1.jar

src/mysql-connector-java-8\.0\.15\.jar

src/protobuf-java-3\.6\.1\.jar

web/
